{% extends 'layout.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h1>관리자</h1>
<div class="container mb-3">
    <h2>청소기사 등록</h2>
    <form action="" method="post">
        <div>
            <label for="name" class="my-2">이름</label>
            <input type="text" name="name" class="form-control" value="홍길동">
        </div>
        <div>
            <label for="phone" class="my-2">연락처</label>
            <input type="tel" name="phone" class="form-control" value="010-1234-5678">
        </div>
        <div>
            <label for="email" class="my-2">이메일</label>
            <input type="email" name="email" class="form-control" value="aaa@gmail.com">
        </div>
        <div>
            <label for="addr" class="my-2">주소</label>
            <input type="text" name="addr" class="form-control" value="대구 달서구">
        </div>
        <div>
            <label for="mypicture" class="my-3">사진</label>
            <input type="file" name="mypicture" class="form-control" id="mypicture">
        </div>
        <div>
            <button class="btn btn-primary my-3">저장</button>
        </div>
    </form>
    <div>
        <h1>청소 기사 목록</h1>
        <table class="table">
            <tr>
                <th>이름</th>
                <th>이메일</th>
                <th>연락처</th>
                <th>주소</th>
            </tr>
            {% for cleaner in cleaners %}
            <tr>
                <td>{{cleaner.name}}</td>
                <td>{{cleaner.email}}</td>
                <td>{{cleaner.phone}}</td>
                <td>{{cleaner.address}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>


</div>
{% endblock %}
{% block script %}
{% endblock %}